/* dockwidget.qss */

/* QDockWidget 样式 */
QDockWidget {
    background-color: #ffffff; /* 白色背景 */
    border: 1px solid #dcdcdc;
    border-radius: 8px;
}

QDockWidget::title {
    background: #f7f7f7;
    color: #333333;
    padding: 5px;
    border-bottom: 1px solid #dcdcdc;
    font-weight: bold;
    font-size: 14px;
}
