/* dockwidget.qss */

QDockWidget {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 10pt;
}

QDockWidget::title {
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}

QDockWidget::close-button,
QDockWidget::float-button {
    image: url("resources/icons/close.png");
}

QDockWidget::close-button:hover,
QDockWidget::float-button:hover {
    background-color: #e6e6e6;
}
