/* global.qss */

/* 设置全局字体为宋体九号 */
* {
    font-family: "SimSun"; /* 宋体 */
    font-size: 12pt;
}

/* 设置标题字体为宋体14号 */
QLabel#ScenarioTitleLabel, QLabel#StatusTitleLabel, QLabel#MainTitleLabel {
    font-family: "SimSun";
    font-size: 12pt;
    font-weight: bold;
}

/* 全局颜色 */
QWidget {
    background-color: #ffffff; /* 白色 */
    color: #333333; /* 深灰色文字 */
}
