/* listwidget.qss */

QListWidget {
    border: none; /* 移除整体边框 */
    background-color: #ffffff;
}

QListWidget::item {
    padding: 5px 10px;
}

QListWidget::item:hover {
    background-color: #e6f7ff;
}

QListWidget::item:selected {
    border: none; /* 移除选中时的边框 */
    background-color: #cceeff; /* 选中项背景色 */
}
